#ns-custom-layer-box {
	display: none;
}
#ns-wcapb-container {
	display: none;
}
/*
#ns_wcapb_text {
	width: 400px;
	height: 400px;
}*
/***     TOOLTIP     ***/
.ns-tooltip {
	position: relative;
	display: inline-block;
	cursor: help;
	float: right;
	background: #6BAA01;
    border-radius: 40px;
	color: #fff;
	padding: 0 4px;
	font-size: 9px;
	line-height: 13px;
}

.ns-tooltip .ns-tooltiptext {
	visibility: hidden;
	width: 180px;
	background-color: #6BAA01;
	font-size: 10px;
	color: #fff;
	border-radius: 6px;
	padding: 5px;
	text-decoration: none;
	/* Position the tooltip */
	position: absolute;
	z-index: 1;
	top: -40px;
	left: -90px;
}

.ns-tooltip:hover .ns-tooltiptext {
	visibility: visible;
}

/**** DEFAULT ADMIN ****/

.ns-notice-dismissed {
	display: none;
}
button.ns-notice-dismiss {
	cursor: pointer;
	background: #fff;
    border: 0;
    height: 30px;
}

button.ns-notice-dismiss:hover {
	color: #6BAA01;
}

.verynsbigboxcontainer {
	
}

.verynsbigbox {
	width: 277px;
	height: auto;
	padding: 10px;
	float: right;
	margin-top: 8px;
}

.nsbigbox {
	width:275px; 
	height: auto;
	background: #fff;
	border: 1px solid #6BAA01;
	border-radius: 7px;
	color: #848481;
}

.nsbigboxOrange {
	width:275px; 
	height: auto;
	background: #fff;
	border: 1px solid #fbb02d;
	border-radius: 7px;
	color: #848481;
}

.titlensbigbox {
	color: #fff;
	width: 235px;
	background: #6BAA01;
	padding: 1px 20px;
	text-align: center;
	border-radius: 5px 5px 0px 0px;
}

.titlensbigboxOrange {
	color: #fff;
	width: 235px;
	background: #fbb02d;
	padding: 1px 20px;
	text-align: center;
	border-radius: 5px 5px 0px 0px;
}

.titlensbigbox h1{
	font-size: 18px;
}

.contentnsbigbox {
	width: 235px;
	padding: 20px 20px 30px 20px;
}

.contentnsbigbox p {
	font-size: 12px;
	line-height: 18px;
	margin-top: 5px;
	margin-bottom: 20px;
	text-align: justify;
}

a.linkBigBoxNS {
	text-decoration: none;
	color: #848481;
}

.buttonNsbigbox {
	cursor: pointer;
	height: 36px;
	border: 1px solid #6BAA01;
	background: #fff;
	text-align: center;
    margin: 0 auto;
    padding: 15px 20px 0px 20px;
    font-size: 18px;
    border-radius: 7px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.buttonNsbigboxOrange {
	cursor: pointer;
	height: 36px;
	border: 1px solid #fbb02d;
	background: #fff;
	text-align: center;
    margin: 0 auto;
    padding: 15px 20px 0px 20px;
    font-size: 18px;
    border-radius: 7px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.buttonNsbigbox:hover {
	color: #fff;
	height: 36px;
	border: 1px solid #6BAA01;
	background: #6BAA01;
	text-align: center;
    margin: 0 auto;
    padding: 15px 20px 0px 20px;
    font-size: 18px;
}

.buttonNsbigboxOrange:hover {
	color: #fff;
	height: 36px;
	border: 1px solid #fbb02d;
	background: #fbb02d;
	text-align: center;
    margin: 0 auto;
    padding: 15px 20px 0px 20px;
    font-size: 18px;
}

.buttonNsEmail {
	width: 100%;
	height: 52px;
	line-height: 36px;
	border: 1px solid #6BAA01;
	background: #6BAA01;
	padding: 0 20px;
    font-size: 18px;
	margin: 15px auto;
    border-radius: 7px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.buttonNsEmailOrange {
	width: 100%;
	height: 52px;
	line-height: 36px;
	border: 1px solid #fbb02d;
	background: #fbb02d;
	padding: 0 20px;
    font-size: 18px;
	margin: 15px auto;
    border-radius: 7px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

/* additional classes */

.nsbigboxtheme {
	margin-top: 30px;
	width:275px; 
	height: auto;
	background: #fff;
	border: 1px solid #6BAA01;
	border-radius: 7px;
	color: #848481;
}

.nsbigboxthemeOrange {	
	margin-top: 30px;
	width:275px; 
	height: auto;
	background: #fff;
	border: 1px solid #fbb02d;
	border-radius: 7px;
	color: #848481;
}

.imgnsbigbox {
	width: 235px;
	height: auto;
}